@import '../../variables.less';

.tablet.portait, .mobile {
  main#newsletter .newsletter-container > * {
    padding: inherit;
  }
}

main#newsletter {

  .newsletter-container > * {
    padding: inherit 25%;
  }

  input {
    max-width: 600px;
  };

  button[type="submit"] {
    background-color: @accent-y;

    &:hover {
      background-color: @accent-y-hover;
    }
  }
}