.mobile {
  .newsitem .content {
    display: block;
  }
}

.newsitem {

  .content {
    display: flex;
    flex-direction: row;

    img {
      margin-right: 1rem;
    }

    .tagline {
      font-weight: 600;
    }

    .rhs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 0 1rem 0;
    }

    .links-container {
      > * {
        margin-top: .5rem;
        display: block;
      }
    }
  }
}