.tablet.portait, .mobile {
  .contact {
    padding: inherit;

    iframe {
      padding: 0;
    }
  }
}

.contact {
  padding: 0 15%;

  .medium {
    margin: .25rem 0 0 2rem;

    .handle {
      vertical-align: top;
      padding-left: .5rem;
    }

    img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  iframe {
    height: 1066px;
    min-width: 294px;
    width: 100%;
    border: none;
    background-color: white;
  }
}