@import '../../variables.less';

.tablet, .mobile {
  .titlebar .navbar {
    padding: 0 0.5rem 0 1.5rem;

    button span {
      color: @primary;
    }
  }
}

.nav-drawer {
  background-color: @contrast;
  
  button span { 
    color: @primary !important;
   }

  > a.nav-button {
    padding: 1rem;
  }
}

.nav-links {
  a.nav-button {
    justify-content: start;
    color: @primary;
    font-weight: bold;

    &::before, &:hover, &:active, &.bp5-active {
      color: @primary;
    }
  }
}

.titlebar {
  
  .navbar {
    background-color: @contrast;
    padding: 0 15%;
    height: 60px;

    .logo-container {

      .logo {
        @font-face {
          font-family: signature;
          src: local('Segoe Script'), local(Gabriola), local('Book Antiqua'), local(Garamond);
          font-display: swap;
        }
        font-family: signature, serif;
        font-weight: 600;
        font-size: x-large;
        text-decoration: none;
        
        a {
          color: @primary;
        }

        a:hover, a:focus, a:active, a:visited {
          text-decoration: none;
          color: @primary;
        }
      }
    }
  }

  .skip-to-content {
    height: 30px;
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    padding: 8px;
    z-index: 100;

    &:focus {
      transform: translateY(0%);
    }
  }

  .banner {
    width: 100%;
    background-color: @primary;
    color: @contrast;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
  }

  span[icon='menu'] {
    color: @primary;
  }
}