.work {
  .details {
    display: flex;
    direction: row;
    padding-bottom: .5rem;

    > *:first-child {
      margin-right: 1rem;
    }
    
    .rhs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 0 1rem 0;
    }

    .links-container {
      > * {
        margin-top: .5rem;
        display: block;
      }
    }
  }
}

.mobile .work .details {
  display: block;
}
