@import "~normalize.css/normalize.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

@import './variables.less';

body {
  font-size: large;
  line-height: 1.75rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/djihjhtci/image/upload/w_1200/f_auto,q_auto:eco/v1/emilylfinch/www/background-london);
}

h1 {
  text-align: center;
  color: @primary;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cormorant SC', serif;
}

article {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: .33rem;

  > div {
    background-color: rgba(255, 255, 255, .9) !important;
  }
}

.book-title {
  text-decoration: underline;
  font-family: 'IM Fell English SC', serif;
}

.tablet.portait, .mobile {
  img.book-cover {
    width: calc(100vw - 6.5rem);
  }
}

img.book-cover {
  height: auto;
  width: 200px;
}

a[role=button].amz-button {
  @font-face {
    font-family: 'amz button';
    src: local('Segoe UI'), local(Tahoma), local(Geneva), local(Verdana);
    font-display: swap;
  }
  font-family: 'amz button', serif;
  background-color: @accent-y;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
  width: max-content;

  &:hover {
    background-color: @accent-y-hover;
  }
}

a[role=button].audiobooks-button {
  background-color: #005887;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, 0));
  width: max-content;
  color: white;
  &:hover {
    background-color: #004970;
  }
}

.tablet.portait, .mobile {
  main {
    margin: 0 1.5rem;
  }
}

main {
  margin: 0 15%;
}
